<%= link_to "Add Image", new_image_path, class: 'btn-add' %>
<ul class="preview">
  <% @images.each do |image| %>
      <div class="card">
        <li><%= link_to image_tag(image.url, :class => "thumbnail"), image_path(image) %></li>
        <li><%= image.title %></li>
        <li><%= image.author %></li>
      </div>
  <% end %>
</ul>
